:root {
    --aside-color: #212121;
    --text-color: #fff;
    --pretext-color: #707579;
    --links-color: #0000ff;
    --border-shadow-color: #7d6659;
    --search-bar-border-color: #2f2f2f;
    --search-bar-background-color: #181818;
    --search-bar-hover-border-color: #656A6D;
    --caret-color: #8774e1;
    --font-regular: "Roboto", -apple-system, apple color emoji, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-monospace: "Roboto Mono", monospace;
    --bar-width: 23px;
    --bar-height: 3.5px;
    --hamburger-gap: 4px;
    --hamburger-animation-time: .3s ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --chatinput-border-radius: 1rem;
    --chatlist-border-radius: 0.5rem;
    --primary-color: #636cee;
    --message-out-background-color: #8774e1;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: 0;
    scrollbar-width: 0;
    scroll-behavior: smooth;
    caret-color: transparent;
    overflow-y: none;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -99;
    background-image: url("../media/c0a13a19-2add-404e-b89d-769117f16801.webp");
    background-repeat: no-repeat;
    background-size: cover;
    /**********************************************/
    filter: brightness(0.75);
    /**********************************************/
}

.hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.chats {
    width: 424px;
    height: 100%;
    background-color: var(--aside-color);
    z-index: 20;
    transition: .3s;
    border-right: 1px solid black;
    position: relative;
}

.chats .header {
    width: 424px;
    height: 56px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    transition: inherit;
}

.chats .chatsPeople {
    width: 100%;
    height: max-content;
    background-color: transparent;
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5px;
    align-items: start;
    justify-content: start;
    overflow-y: auto;
    position: relative;
    top: 0;
    left: 0;
}

.chatsPeopleIn {
    width: calc(100% - 20px);
    height: 72px;
    background-color: transparent;
    border-radius: var(--chatlist-border-radius);
    cursor: pointer;
    padding: 5px 10px;
    display: grid;
    gap: 4px;
    grid-template-rows: 72px;
    grid-template-columns: 72px 328px;
}

.chatnickandlast {
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 0.5px;
    flex-direction: column;
}

.chatavatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.chatavatar img {
    width: 62px;
    height: 62px;
    border-radius: 50%;
}

.chatnickname {
    width: 100%;
    height: 36px;
    font-family: var(--font-regular);
    font-size: 1.15em;
    font-weight: bold;
    color: var(--text-color);
    display: flex;
    justify-content: start;
    align-items: end;

}

.chatlastMessage {
    width: 100%;
    height: 26px;
    font-family: var(--font-regular);
    font-size: 1em;
    color: var(--pretext-color);
    display: flex;
    justify-content: start;
    align-items: end;
    overflow: hidden;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--pretext-color);
    border-radius: 9999px;
    transition: opacity var(--hamburger-animation-time), width var(--hamburger-animation-time),
        rotate var(--hamburger-animation-time), translate var(--hamburger-animation-time),
        background-color .15s;
    transform-origin: left center;
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    height: max-content;
    position: relative;
    left: 10px;
    cursor: pointer;
    z-index: 60;
    position: relative;
}

.hamburger-menu:hover::before,
.hamburger-menu:hover::after,
.hamburger-menu:hover input {
    background-color: var(--text-color);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;

}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
    background-color: var(--text-color);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
    background-color: var(--text-color);
}

.search-bar {
    width: 338px;
    height: 42px;
    display: flex;
    align-items: center;
    transition: inherit;
}

.search-bar #input {
    width: 338px;
    height: 42px;
    background-color: var(--search-bar-background-color);
    border-radius: 22px;
    border: 0.5px solid var(--search-bar-border-color);
    font-size: 17px;
    z-index: 30;
    font-family: var(--font-regular);
    font-weight: bold;
    letter-spacing: 0.1px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--pretext-color);
    padding: 0 44px;
    transition: .11s;
    position: relative;
}

.search-bar button {
    width: 18px;
    height: 18px;
    z-index: 31;
    transition: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: relative;
    left: 35px;
}

.search-bar button img {
    width: 18px;
    height: 18px;
}

.search-bar #input:hover {
    border: 2px solid var(--search-bar-hover-border-color);
    outline: none;
}

.search-bar #input:focus {
    padding: 0 43px;
    border: 2px solid var(--caret-color);
    outline: none;
}

#input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.menu {
    width: 300px;
    height: calc(100vh - 10px);
    background-color: var(--aside-color);
    border-right: 2px solid var(--search-bar-hover-border-color);
    position: absolute;
    top: 0;
    left: -302px;
    z-index: 40;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3px;
    flex-direction: column;
    padding-top: 5.5px;
    transition: left .5s;
}

.menu h2 {
    color: var(--text-color);
    font-size: 2.35em;
    opacity: 0.0000001;
    transition: 2s;
}

.menu hr {
    width: 90%;
    border: none;
    border-radius: 9999px;
    height: 2px;
    background-color: var(--search-bar-hover-border-color);
}

.menu li {
    width: 98%;
    height: 56px;
    border-radius: 7px;
    background-color: transparent;
    display: grid;
    place-items: center;
    caret-color: transparent;
    color: var(--pretext-color);
    cursor: pointer;
    transition: .3s;
    font-size: 1.2em;
    caret-color: transparent;
}

.menu li:hover {
    color: var(--text-color);
}

.menu #h3Menu {
    margin-top: 5px;
    color: var(--text-color);
    font-size: 1.4em;
    transition: .3s;
    font-weight: bold;
    text-transform: uppercase;
}

.menu .addcontact {
    font-family: var(--font-regular);
    border: 2px solid var(--search-bar-hover-border-color);
    border-radius: 5px;
    width: 310px;
    height: 90px;
    position: absolute;
    top: 50px;
    left: -310px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--aside-color);
    transition: width .3s, all .3s;
    opacity: 0;
}

.menu .addcontact .addcontactform {
    display: grid;
    place-content: center;
    gap: 4px;
}

.menu #nickname::placeholder {
    color: var(--pretext-color);
}

.menu #nickname {
    width: 240px;
    height: 36px;
    background-color: var(--search-bar-background-color);
    border: 2px solid var(--search-bar-border-color);
    border-radius: 9999px;
    color: var(--pretext-color);
    padding-left: 24px;
    padding-right: 24px;
    font-size: 1.05em;
    font-weight: bold;
    transition: border .15s, color .15s, all .3s;
}

.menu #nickname:hover,
.menu #nickname:focus {
    color: var(--text-color);
    border: 2px solid var(--search-bar-hover-border-color);
    outline: none;
}

.menu input[type="submit"] {
    width: 80px;
    height: 28px;
    border-radius: 9999px;
    border: 2px solid var(--search-bar-border-color);
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--search-bar-background-color);
    color: var(--pretext-color);
    transition: all .3s;
    cursor: not-allowed;
}

.menu input[type="submit"]:hover,
.menu input[type="submit"]:active {
    color: var(--text-color);
    border: 2px solid var(--search-bar-hover-border-color);
    outline: none;
}


/* Messages block */
.chatPlaceWithMessages {
    background-color: transparent;
    height: 100vh;
    width: calc(100% - 424px);
    position: absolute;
    top: 0;
    right: 0;

}

/* Messages area header */

.chatPlaceWithMessagesHeader {
    width: 100%;
    height: 56px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--aside-color);
    box-sizing: border-box;
    padding-left: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
}

.chatPlaceWithMessagesHeaderPData {
    width: max-content;
    height: 46px;
    display: grid;
    grid-template-columns: 46px max-content;
    grid-template-rows: 23px 23px;
    column-gap: 10px;
}

.chatPlaceWithMessagesHeaderAvatar {
    width: 46px;
    height: 46px;
    position: relative;
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1 / span 2;
    align-self: center;
    place-content: center;
}

.chatPlaceWithMessagesHeaderParagraf {
    font-size: 16px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
    grid-column: 2;
    grid-row: 1;
}

.chatPlaceWithMessagesHeaderLastActivity {
    font-size: 14px;
    font-weight: 500;
    color: #AAAAAA;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0;
    grid-column: 2;
    grid-row: 2; 
}

/* Messages area */

.chatPlaceWithMessagesFooter {
    width: 100%;
    height: 54px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: transparent;
    padding: 0px 13px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textInputWithMessage {
    background-color: transparent;
    height: 54px;
    width: 728px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a,
div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div::selection , img::selection {
    background-color: transparent;
}

#inputForMessageOnFooterOfChat {
    background-color: var(--aside-color);
    height: 54px;
    width: calc(100% - 65px);
    border-radius: 1.25rem;
    box-shadow: 0 0 15px var(--search-bar-border-color),
        0 0 5px var(--search-bar-border-color);
    outline: none;
    transition: border .25s;
    padding: 5px 54px;
    color: var(--text-color);
    box-sizing: border-box;
    font-family: var(--font-regular);
    font-weight: bold;
    font-size: .95em;
    outline: none;
}

#inputForMessageOnFooterOfChat::placeholder {
    color: var(--pretext-color);
    transition: .1s;
}

.cRipple {
    height: 54px;
    width: 54px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cRipple img {
    height: 23px;
    width: 23px;
    position: relative;
    left: 2px;
}

.messages-area {
    width: calc(100% - 40px);
    height: calc(100% - 56px - 74px);
    position: relative;
    top: 56px;
    overflow-y: auto;
    padding: 10px 20px;
}

.stranger-message-area {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 3px;
}

.own-message-area {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 3px;
}

.stranger-message {
    min-height: 20px;
    min-width: 50px;
    border-radius: 15px 15px 15px 5px;
    max-width: max-content;
    max-height: max-content;
    padding: 4px 8px 5px;
}

.own-message {
    min-height: 20px;
    min-width: 50px;
    border-radius: 15px 15px 5px 15px;
    max-width: max-content;
    max-height: max-content;
    padding: 4px 8px 5px;
    background-color: var(--message-out-background-color);
    font-family: var(--font-monospace);
    font-size: 1em;
    color: var(--text-color);
}