
:root {
    --grid-offset: calc(50% + 80px);
    --color: rgb(255,255,255);
    --bg-size: 180px;
    --button-shade: 30%;
    --glint: rgb(0,0,0);
    --grid-accent: rgba(204, 204, 204, 0.1);;
    --selection: rgb(51, 51, 51);
    --bg: #000;
    --color-alpha: rgb(128, 128, 128);;
    --grid-line: rgb(31, 31, 31);;
    --input-bg: rgba(0, 0, 0, 0.2);
    --aside-color: #212121;
    --pretext-color: #707579;
    --links-color: #0000ff;
    --border-shadow-color: #7d6659;
    --search-bar-border-color: #2f2f2f;
    --search-bar-background-color: #181818;
    --search-bar-hover-border-color: #656A6D;
    --caret-color: #8774e1;
    --font-regular: "Roboto", -apple-system, apple color emoji, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-monospace: "Roboto Mono", monospace;
}


@font-face {
    font-family: "Geist Mono";
    src: url("https://assets.codepen.io/605876/GeistMonoVariableVF.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: 0;
    scrollbar-width: 0;
    scroll-behavior: smooth;
    caret-color: transparent;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -99;
    background-image: url("../media/loginPageBg.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    background-image: linear-gradient(rgba(2,2,2,0.3),rgba(2,2,2,0.3));
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    font-family: 'Geist Mono', sans-serif, system-ui;
}

.hero::before {
    content: "";
    transition: background 0.2s;
    z-index: -98;
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100vw;
    -webkit-mask: radial-gradient(circle at 0% 0%, hsl(0 0% 100% / 0.5), transparent);
}

form {
    background-color: rgba(2,2,2,0.8);
    height: 450px;
    width: 700px;
    border-radius: 10px;
    color: var(--pretext-color);
    z-index: 5;
    display: grid;
    place-content: center;
    gap: 50px;
}

form div {
    
}

.login-group:hover p {
    color: var(--color);
}

.login-group:hover input {
    border-color: var(--color);
    color: var(--color);
}

.login-group:hover button {
    color: var(--color);
}

.login-group:focus-within p {
    color: var(--color);
}

.login-group:focus-within input {
    border: 2px solid var(--caret-color);
    color: var(--color);
}

.login-group:focus-within button {
    color: var(--color);
}

.form-group:hover p {
    color: var(--color);
}

.form-group:hover input {
    border-color: var(--color);
    color: var(--color);
}

.form-group:hover button {
    color: var(--color);
}

.form-group:focus-within p {
    color: var(--color);
}

.form-group:focus-within input {
    border: 2px solid var(--caret-color);
    color: var(--color);
}

.form-group:focus-within button {
    color: var(--color);
}

input {
    z-index: 10;
    font-family: "Geist Mono", monospace;
    font-size: 1.75rem;
    padding: 1rem 2rem;
    letter-spacing: 0.2ch;
    border-radius: 6px;
    color: var(--color-alpha);
    border-width: 2px;
    border-color: var(--pretext-color);
    border-style: solid;
    background: var(--input-bg);
    outline: none;
    transition: border-color 0.2s, color 0.2s;
    width: 410px;
    height: 42px;
    margin-top: 10px;
}

.login-group input {
    padding: 1rem 2rem;
    width: 600px;
    height: 42px;
}

p{
    position: relative;
    color: var(--pretext-color);
    letter-spacing: 0.2ch;
    transition: color 0.2s;

}

.form-group {
    position: relative;
}

.eye circle:nth-of-type(2) {
    fill: var(--glint);
}

button {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84px;
    width: 84px;
    border-radius: 12px;
    position: absolute;
    right: 20px;
    background: linear-gradient(hsl(0 0% var(--button-shade) / calc(var(--active, 0) * 0.5)), hsl(0 0% var(--button-shade) / calc(var(--active, 0) * 0.5))) padding-box;
    border: 6px solid transparent;
    transition: background 0.125s;
    color: var(--pretext-color);
    z-index: 2;
    cursor: pointer;
    translate: 0 -50%;
    outline: 0;
    top: 60%;
}

input::selection {
    background: var(--selection);
}

button:is(:focus-visible, :hover) {
    --active: 1;
}

button svg {
    width: 85%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}


.submit-group input {
    color: var(--pretext-color);
    border-width: 2px;
    border-color: var(--pretext-color);
    border-style: solid;
    background: var(--input-bg);
    width: 200px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .125s;
    padding: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: not-allowed;
}

.submit-group input:hover {
    color: var(--color);
    border-color: var(--color);
}

.submit-group input:active {
    color: var(--color);
    border-color: var(--color);
}